<%= turbo_stream.prepend :transactions do %>
  <div class="selection-error" id="dedupe_error" data-controller="error">
    <strong>Could not combine transactions:</strong>
    <ul>
      <% @dedupe_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <button type="button" data-action="error#close">Dismiss</button>
  </div>
<% end %>
