<%= turbo_stream.prepend :transactions do %>
  <div class="merge-error" id="exclude_error" data-controller="error">
    <strong>Could not update transaction:</strong>
    <ul>
      <% @exclude_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <button type="button" data-action="error#close">Dismiss</button>
  </div>
<% end %>
