<% content_for :title, "Transactions" %>

<h1>Transactions</h1>

<div class="transactions">
  <div class="row header">
    <div>Date</div>
    <div>Type</div>
    <div>Description</div>
    <div>From</div>
    <div>To</div>
    <div>Amount</div>
    <div>Currency</div>
    <div>Category</div>
    <div>Cleared</div>
    <div>Actions</div>
  </div>

  <%= turbo_frame_tag :new_transaction do %>
    <%= render partial: 'form', locals: {
      transaction: @new_transaction,
      src_accounts: @src_accounts,
      dest_accounts: @dest_accounts,
      categories: @categories
    } %>
  <% end %>

  <%= turbo_frame_tag :transactions do %>
    <%= render @transactions %>
  <% end %>
</div>
