<%= turbo_stream.prepend :transactions do %>
  <div class="merge-error" id="merge_error">
    <strong>Could not merge transactions:</strong>
    <ul>
      <% @merge_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <button onclick="this.closest('.merge-error').remove()">Dismiss</button>
  </div>
<% end %>
